* {
  box-sizing: border-box;
}

body {
  font-family: "Hind", sans-serif !important;
  margin: 0;
  padding: 0;
}

/* Header */ /* ---- **** ----- *****------******------------------------------------    */

header {
  background-image: url(img/fondo1dif.png);
  padding-top: 46px;
  max-width: 1517px; /* ----------------------------------------  */
  word-wrap: break-word;
  position: relative;
  background-position: 50%;
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  /*box-sizing: border-box;*/
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 550px;
}

.header {
  margin: auto;
  box-sizing: border-box;
}

img.logo {
  display: block;
  position: relative;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 75px;
}

h1.header {
  max-width: 924.54px;
  width: 90%;
  font-weight: 700;
  font-size: 43px;
  text-align: center;
  line-height: 1.17;
  font-stretch: normal;
  font-style: normal;
  margin: auto;
  margin-top: 15px;
  white-space: pre-wrap;
}

div {
  box-sizing: border-box;
}

p.textoinicial {
  text-align: center;
  font-size: 18px;
  font-weight: 100;
  margin-top: 1vw;
  margin-bottom: 1.8vw;
  white-space: pre-wrap;
  width: 90%;
  box-sizing: border-box;
}

a#linkinicial {
  color: #1489ff;
  font-weight: 600;
}

.divbtn {
  max-height: 50px;
  position: relative;
  align-self: center;
}

/*Responsivo header*/

@media screen and (max-width: 723px) {
  header.header {
    max-width: fit-content;
  }
  h1.header {
    padding-left: 1px;
    padding-right: 1px;
  }

  img.logo {
    margin-top: 60px;
  }
}

@media screen and (max-width: 760px) {
  img.logo.header {
    margin-top: 20px;
  }

  h1.header {
    margin-top: -40px;
  }

  h1.header,
  p.textoinicial {
    max-width: 740px;
  }
}

@media screen and (max-width: 540px) {
  h1.header,
  p.textoinicial {
    max-width: 540px;
  }
}
/*Carrusel */

div.carrusel {
  box-sizing: border-box;
  position: relative;
  grid-row: 4;
  display: grid;
  grid-template-columns: 1fr 692px 1fr;
  grid-template-rows: 692 1fr;
}

.carrPadre {
  box-sizing: border-box;
  border: #c3d5e0 1px solid;
  background-image: linear-gradient(to bottom, #fff 45%, #fff 78%, #f8fcff);
  box-shadow: 0px 15px 15px 0 rgb(26 72 100 / 15%);
  grid-column: 2;
  /*align-self: start;*/
  max-height: 265px;
  /*height: min-content;*/
  /*max-width: 692px;*/
  display: grid;
  grid-template-columns: auto auto;
  border-radius: 10px;
  padding: 15px;
}

img.carrImagen {
  max-width: 237px;
}
.carrImagen,
.carrTexto {
  display: block;
  margin: 0;
  box-sizing: border-box;
}

.carrTexto {
  margin-top: auto;
  margin-bottom: auto;
}

.carrNombre {
  margin: 0px;
}

div.carrNombre {
  font-size: 27px;
  line-height: 32px;
  color: #002b39;
  font-weight: 500;
  margin: 0;
}

h4 {
  margin: 0;
}

div.carrProEst {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 8px;
}

.carrComent {
}

div.Profesion {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
}

div.csrrEst {
  justify-self: end;
}

.estrella {
  width: 20px;
}

/*Rsponsivo carrusel*/

@media screen and (max-width: 700px) {
  button.btnRegis.header {
    position: relative;
    top: -25px;
  }

  .header {
    display: block;
  }

  div.carrusel {
    grid-template-columns: auto;
  }
  div.carrPadre.media {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    max-height: 500px !important;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% 80%;
    margin-top: 15px;
  }

  div.carrImagen {
    position: relative;
    top: -55px;
    margin-top: 10px;
    align-self: center;
    justify-self: center;
  }

  div.carrTexto {
    box-sizing: border-box;
    grid-row: 2;
    height: 300px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  div.carrProEst {
    grid-template-columns: auto;
  }

  div.csrrEst {
    grid-row: 1;
    margin-left: auto;
    margin-right: auto;
  }

  .estrella {
    width: 30px;
  }

  div.carrNombre {
    grid-row: 3;
    align-self: end;
    justify-self: center;
  }

  div.carrComent {
    grid-row: 2;
  }

  .Profesion {
    position: absolute;
    bottom: 118px;
    left: 220px;
    color: #0073e6;
  }
}

@media screen and (max-width: 670px) {
  .textos.header {
    max-width: 500px;
  }
}
/* Servicios principales*/ /* --------------------------------------------------------- */

h2 {
  padding-bottom: 31px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1450px;
  font-size: 2.6rem;
  text-align: center;
  box-sizing: border-box;
  word-wrap: break-word;
  margin: auto;
}

div.servcontenedor.serv {
  padding-top: 0;

  padding-bottom: 0;

  display: grid;
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 29px;
  box-sizing: border-box;
  position: relative;

  grid-template-columns: 1fr 1fr 1fr;
}

h3 {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 0;
}

div.servdiv {
  background-color: #fff;
  border-radius: 10px;

  box-shadow: 0 10px 30px 0 rgb(195 213 224 / 50%);
  max-width: 370px;
  padding-top: 0.5rem;
  box-sizing: border-box;
  padding-left: 51px;
  padding-right: 51px;
  padding-bottom: 51px;
  justify-self: center;
}

p.descripcionserv {
  word-wrap: break-word;
  box-sizing: border-box;
  max-width: 242px;
  text-align: center;
  font-size: 20px;
  line-height: 1.6;
}

button.btnRegis.serv {
  border: 0;
  grid-column: 2;
  grid-row: 2;
  position: relative;
  margin: auto;
}

/*Principales herramientas responsivo*/

@media screen and (max-width: 1000px) {
  div.servcontenedor.serv {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;

    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 29px;
    box-sizing: border-box;
    position: relative;
  }

  div.servdiv {
    margin-top: 5px;
    margin-bottom: 50px;
  }
}

/* Proceso */ /*  --------------------------------------------------------------------  */

.Proceso.principal {
  margin-top: 40px;
  max-width: 1517px;
}

/*contenedor principal*/

div.columnas {
  margin: auto;
  max-width: 862px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: url(img/linea.png) no-repeat;
  background-size: 89%;
  background-position: center;
  background-position-y: 45%;
}

div.columna.columna1 {
  margin-left: -85px;
}
div.columna.columna3 {
  margin-right: -85px;
}
.propinimg {
  max-width: 35px;
  justify-self: center;
}

.columna div {
  display: block;
  background-size: cover;
  height: 200px;
  width: 100%;
  /*height: 100%;*/
  max-width: 200px;
  max-height: 200px;
  margin: auto;
}

.columna div:hover {
  cursor: pointer;
}

.img1 {
  background: url(img/Grupo9210@3x.webp) no-repeat;
  background-position: 50%;
}

.img2 {
  background: url(img/Grupo7025@3x.webp) no-repeat;
}
.img3 {
  background: url(img/Grupo7024@3x.webp) no-repeat;
}

.img1:hover {
  background: url(img/nuevo7023.svg) no-repeat;
  background-size: cover;
  background-position: 50%;
}

.img2:hover {
  background: url(img/nuevo7025.svg) no-repeat;
  background-size: cover;
}
.img3:hover {
  background: url(img/nuevo724.svg) no-repeat;
  background-size: cover;
}

span {
  font-size: 26px;
  font-family: inherit;
  font-weight: inherit;
}

@media screen and (max-width: 700px) {
  div.columnas {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    background: url(img/linea.png) no-repeat;
    background-size: 89%;
    background-position: center;
    background-position-y: -1%;
    justify-items: center;
  }

  button.btnRegis.pro {
    margin-top: 30px;
  }

  div.columna.columna1 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  div.columna.columna3 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  div.columna.columna2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  div.img1,
  div.img2,
  div.img3 {
    margin-bottom: -30px;
  }
}
/* Links botones PLataforma que lo tiene todo */

section.MenuBotones {
  background-image: url(img/Enmascarar\ grupo\ 259.webp);
  padding-top: 13px;
  padding-bottom: 100px;
  background-position: top center;
  background-size: cover;
  max-width: 1520px;
  margin-top: 50px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

h2.titulobtns {
  padding-top: 150px;
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
  line-height: 3rem;
}

div.Plataforma {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin-bottom: 65px;
}

div.btn {
  box-sizing: border-box;
  background-color: #ffffff;
  display: grid;
  width: 92%;
  word-break: break-all;
  margin: 15px 6%;
  padding: 22px 15px;
  object-fit: contain;
  font-family: "Hind", sans-serif;
  justify-items: center;
  border-radius: 10px;
  box-shadow: 0 20px 15px 0 rgba(26, 72, 100, 0.1);
  border: #c3d5e0 1px solid;
  background-image: linear-gradient(to bottom, #fff, #fff 78%, #f0feff);
}

div.btn:hover {
  border: #1489ff 0.5px solid;
}

.imagenbtn {
  width: 35px;
  height: 35px;
  display: block;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Hind", sans-serif;
}

span.TextoA,
span.TextoB {
  font-size: 15px;
}

/*Menu botones responsivo*/

@media screen and (max-width: 700px) {
  div.Plataforma {
    max-width: 470px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/*Footer*/ /* <------------------------------  FOOTER */

footer {
  max-width: 1520px;
  background: linear-gradient(90deg, #1489ff 0%, #0073e6 100%);
  height: 236.41px;
  display: grid;
  grid-template-rows: 1fr 1px 1fr;
}

div.footer.padre {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

div.footer.logo,
div.footer.logos {
  display: inline;
  margin-bottom: 1.9%;
}

div.footer.logo {
  margin-right: auto;
  justify-self: start;
  align-self: end;
}

div.footer.logos {
  display: grid;
  grid-template-columns: 6fr repeat(6, 1fr);
  justify-content: center;
  justify-items: end;
  margin-top: 70px;
}
img.fb {
  grid-column: 2;
}

.LineaBlanca {
  background-color: white;
  width: 80%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
}

div.derechos {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.derechos {
  line-height: 1rem;
  font-size: 14px;
  color: white;
  justify-items: end;
  align-items: center;
}

div.derTerCon {
  grid-column: 2;
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto;
  justify-items: end;
}

/*Footer Resonsivo */

@media screen and (max-width: 840px) {
  div.footer.padre {
    grid-template-columns: 1fr;
  }

  div.footer.logo {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  div.footer.logos {
    margin-top: 25px;
  }
}

@media screen and (max-width: 640px) {
  div.footer.padre {
    grid-template-columns: 1fr;
  }

  div.footer.logo {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  div.footer.logos {
    margin-top: 25px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    justify-content: space-between !important;
  }

  img.fb {
    grid-column: 1;
  }

  img.tk {
  }

  img.ig {
  }
  img.yt {
  }
  img.tt {
  }

  div.derechos {
    grid-template-columns: 1fr;
  }

  div.derTerCon {
    grid-column: 1;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
  }

  a.derechos {
    margin-top: 5px;
  }
}

/*aside*/

aside {
  background-color: rgb(11, 146, 241);
  background-image: url(img/chat.jpg);
  background-size: 80%;
  background-position-x: 50%;
  background-position-y: 50%;
  border-radius: 50%;
  color: rgb(248, 247, 246);
  text-align: center;
  z-index: 2;
  height: 60px;
  width: 60px;
  position: fixed;
  left: 92vw;
  bottom: 5vw;
}

/*Aside media*/

@media screen and (max-width: 680px) {
  aside {
    left: 88vw;
    top: 68vh;
  }
}

/*Botones */

.btnRegis {
  display: block;
  font-family: "Hind", sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 56.6px;
  width: 255px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 0.2cm;
  box-shadow: -2px 26px 32px -15px rgba(0, 0, 0, 0.5);
  background: linear-gradient(0deg, #007fff 0%, #00b1ff 100%);
  margin: auto;
}

.btnRegis:hover {
  color: #0073e6;
  border: #0073e6 2px solid;
  background: rgb(248, 247, 246);
  cursor: pointer;
}
